@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  margin: 0;
}

body { 
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
} 

div#tudo {
    display: block;
    flex-direction: row;
    background-color: #f8f8f8;
}

div#menu1 {
    padding: 10;
    flex: 1;
}

div#menu2 {
    padding: 10;
    flex: 1;
    margin-top: 18px;
}

div#menu {
    display: inline-block;
    width: 23.2vw;
    vertical-align: top;
    padding: 1vw;
    background-color: #efefef;
    font-size: 12px;
    height: 79vh;
    overflow-y: scroll;
}

div#graficos {
    display: inline-block;
    width: 70vw;
    vertical-align: middle;
}

div#grafico1, div#grafico2 {
    display: inline-block;
    border: 0.3vw solid #7d7d7d;
    border-radius: 11px;
    margin-top: 11vh;
    padding: 1vw;
    background-color: white;
}
div#grafico1 {
    margin-left: 1.5vw;
}

div#grafico2 {
    margin-left: 1.5vw;
}

header {
    background-color: #32a69d;
    padding: 5px;
    padding-left: 30px;
}

footer {
    text-align: right;
    background-color: #efefef;
    color: #000000;
    padding: 5px;
    padding-right: 20px;
    font-size: small;
}

h1 {  
    color: #FFFFFF;
    font-weight: 600;
}


h2 {
    background-color: #2f7a75; 
    padding: 5px 0;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Poppins';
    line-height: 21px;
    color: #ffffff;
    box-shadow: 0px 9px 5px -2px #2591899c;
}

label, input {
    padding: 5px;
}

input {
    margin-right: 5px;
}
